<div class="w-full desktop:w-1/3 p-4">
    <div class="flex flex-col">

        {%- if post.image -%}
        <div class="card-image">
            <figure class="image is-4by3">
                <a href="{{ post.url | relative_url | prepend: site.baseurl }}">
                    {% responsive_image_block %}
                    path: '{{ post.image | remove_first: '/' }}'
                    template: _includes/post-card-image.html
                    alt: '{{ post.title | escape }}'
                    title: '{{ post.title | escape }}'
                    {% endresponsive_image_block %}
                    <div class="card-image-overlay"></div>
                </a>
            </figure>
        </div>
        {%- else -%}
        <div class="card-content">
            <a href="{{ post.url | relative_url | prepend: site.baseurl }}">
                <span class="block h-32 overflow-hidden">
                    {{ post.excerpt | strip_html }}
                </span>
            </a>
        </div>
        {%- endif -%}

        <div class="card-footer mt-4">
            <div class="card-footer-details">
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url | prepend: site.baseurl }}">
                        {{ post.title | escape }}
                    </a>
                </h3>
            </div>
        </div>

    </div>
</div>