<link data-n-head="ssr" rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link data-n-head="ssr" rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link data-n-head="ssr" rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link data-n-head="ssr" rel="manifest" href="/site.webmanifest">
<link data-n-head="ssr" rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">