<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
{%- include favicon.html -%}
{%- seo -%}
{%- feed_meta -%}
{%- if site.google.verification -%}
<meta name="google-site-verification" content="{{ site.google.verification }}">
{%- endif -%}