<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/instafetch.js/1.5.0/instafetch.min.js">
</script>
<script type="text/javascript">
    instafetch.init({
        accessToken: '{{ site.instagram.access_token }}',
        target: 'instafetch',
        numOfPics: 9,
        caption: false
    });
</script>