{% if paginator.total_pages > 1 %}
<nav class="pagination" role="navigation" aria-label="pagination">
  <ul class="pagination-list">
    <li>
      {%- if paginator.previous_page -%}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous">&laquo;</a>
      {%- else -%}
      <span class="pagination-previous">&laquo;</span>
      {%- endif -%}
    </li>

    {%- if paginator.page_trail -%}
    {%- for trail in paginator.page_trail -%}
    <li>
      <a href="{{ trail.path | prepend: site.baseurl }}" title="{{ trail.title }}"
        aria-label="{{ site.data.t[site.lang].page }} {{ trail.num }}"
        class="pagination-link {% if page.url == trail.path %}is-current{%- endif -%}">{{ trail.num }}</a>
    </li>
    {%- endfor -%}
    {%- endif -%}

    <li>
      {%- if paginator.next_page -%}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-next">&raquo;</a>
      {%- else -%}
      <span class="pagination-next">&raquo;</span>
      {%- endif -%}
    </li>
  </ul>
</nav>
{% endif %}