{%- for page in paginator.posts -%}
<div class="post">
    {%- if page.image -%}
    <div class="mb-4 mx-auto desktop:max-w-column">
        <a href="{{ page.url | relative_url }}">
            <img src="{{ page.image }}" alt="{{ page.title }}" class="object-cover h-64 desktop:h-100 w-full rounded-lg" />
        </a>
    </div>
    {%- endif -%}

    <div class="desktop:max-w-column mx-auto">
        <h2>
            <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
        </h2>

        {% include post-meta.html %}

        <div class="content post-content mb-6">
            {{ page.content | strip_html | truncatewords: 50 }}
        </div>

        <div class="">
            <a href="{{ page.url | relative_url }}">
                {{ site.data.t[site.lang].continueReading }}
            </a>
        </div>
    </div>
</div>
{% endfor %}