<div class="post-meta">
    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta-date">{{ page.date | date: date_format }}</span>

    {%- if page.categories != empty -%}
    <span class="post-meta-categories">
        {{ site.data.t[site.lang].inCategory }}
        {%- for category in page.categories -%}
        <span class="category">
            <a href="/category/{{ category | slugify }}/">{{ category }}</a>
        </span>
        {%- endfor -%}
    </span>
    {%- endif -%}

    {%- if page.tags != empty -%}
    <span class="post-meta-tags">
        {{ site.data.t[site.lang].tags }}
        {%- for tag in page.tags -%}
        <span class="tag">
            <a href="/tag/{{ tag | slugify }}/">#{{ tag }}</a>
        </span>
        {%- endfor -%}
    </span>
    {%- endif -%}
</div>