{%- capture relatedPosts -%}
{%- assign maxRelated = 3 -%}
{%- assign minCommonTags = 2 -%}
{%- assign maxRelatedCounter = 0 -%}
{%- assign pageSortedTags = page.tags | join: ',' | downcase | split: ',' | sort -%}

{%- for post in site.posts -%}
{%- if post.url != page.url -%}

{%- assign sameTagCount = 0 -%}
{%- assign commonTags = '' -%}

{%- assign postSortedTags = post.tags | join: ',' | downcase | split: ',' | sort -%}
{%- for tag in postSortedTags -%}
{%- if pageSortedTags contains tag -%}
{%- assign sameTagCount = sameTagCount | plus: 1 -%}
{%- capture tagmarkup -%}
<span class="label label-default">{{ tag }}</span>
{%- endcapture -%}
{%- assign commonTags = commonTags | append: tagmarkup -%}
{%- endif -%}
{%- endfor -%}

{%- if sameTagCount >= minCommonTags -%}
{%- include card-related-post.html -%}
{%- assign maxRelatedCounter = maxRelatedCounter | plus: 1 -%}
{%- if maxRelatedCounter >= maxRelated -%}
{%- break -%}
{%- endif -%}
{%- endif -%}

{%- endif -%}
{%- endfor -%}
{%- endcapture -%}

{%- if relatedPosts != '' -%}
<hr class="my-16 border-t border-light-gray"/>

<h2 class="mb-8">{{ site.data.t[site.lang].related }}</h2>

<div class="flex flex-row flex-wrap -m-4">
    {{ relatedPosts }}
</div>
{%- endif -%}