{%- capture srcset -%}
{%- for i in resized -%}
/{{ i.path }} {{ i.width }}w,{{ " " }}
{%- endfor -%}
/{{ path }} {{ original.width }}w
{%- endcapture -%}

<figure class="image mb-4">
    <img src="/{{ path }}" srcset="{{ srcset | strip_newlines | strip }}" alt="{{ title }}" title="{{ title }}" />

    {%- if title -%}
    <figcaption class="text-center text-sm">
        {{ title }}
    </figcaption>
    {%- endif -%}
</figure>