@import url('https://fonts.googleapis.com/css?family=Lora&subset=cyrillic');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

@tailwind base;

@tailwind components;

html {}

body {
    @apply font-serif text-base leading-normal text-grey-darker;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold text-black;

    a {
        @apply no-underline text-black;
    }
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

a {
    @apply text-accent no-underline;

    transition: color 0.5s ease;

    &:hover {
        @apply text-grey-darker;
    }
}

.header {
    @apply fixed py-4 border-b border-grey-light text-sm bg-white;
    top: 0;
    left: 0;
    width: 100%;

    nav {
        .menu-item {
            @apply mr-4;
        }

        a {
            @apply text-grey-dark no-underline;

            &:hover {
                @apply text-grey-darker;
            }
        }
    }
}

.header-social {

    .at-follow-tbx-element .at300b,
    .at-follow-tbx-element .at300m {
        margin-bottom: 0;
    }
}

#content {
    padding-top: 100px;
}

.footer {
    @apply border-t border-dotted border-grey-light mt-20 pt-8;

    .copyright {
        @apply py-6 text-xs border-t border-dotted border-grey-light;
    }
}

.btn {
    @apply no-underline border border-accent text-black rounded-lg py-2 px-4;
}

.content {
    @apply leading-loose;

    h1 {
        margin-bottom: 0.5em;

        &:not(:first-child) {
            margin-top: 1em;
        }
    }

    h2 {
        margin-bottom: 0.5714em;

        &:not(:first-child) {
            margin-top: 1.1428em
        }
    }

    h3 {
        margin-bottom: 0.6666em;

        &:not(:first-child) {
            margin-top: 1.3333em;
        }
    }

    h4 {}

    h5 {}

    h6 {}

    p,
    dl,
    ol,
    ul,
    blockquote,
    pre,
    table {
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }

    ol {
        list-style: decimal outside;
        margin-left: 2em;
        margin-top: 1em;
    }

    ul {
        list-style: disc outside;
        margin-left: 2em;
        margin-top: 1em;
    }

    figure {
        margin-bottom: 1rem;

        figcaption {
            text-align: center;
            font-size: 0.9rem;
        }
    }
}

.page-heading {
    @apply text-3xl font-bold;
}

.post {
    @apply mx-auto border-b border-dotted border-grey-light pb-12 mb-12;

    &:last-child {
        @apply border-0 pb-0 mb-0;
    }
}

.post-title {
    @apply text-2xl;
}

.post-meta {
    @apply text-xs text-grey mb-4 flex flex-row flex-wrap;

    .post-meta-categories,
    .post-meta-tags {
        @apply px-2;

        &:first-child {
            @apply pl-0;
        }

        &:last-child {
            @apply pr-0;
        }
    }

    .tag,
    .category {
        @apply mr-1;

        &:not(:last-child)::after {
            content: ", ";
            margin: 0;
            padding: 0;
        }
    }

    a {
        @apply text-grey-darker no-underline border-dotted border-grey border-b;

        transition: all 0.2s ease;

        &:hover {
            @apply text-accent border-accent;
        }
    }

}

.post-content {}

.pagination {
    @apply flex flex-row justify-center;

    ul {
        @apply flex flex-row;
    }

    li {
        @apply mx-2;
    }

    a,
    span {
        @apply border rounded-lg border-grey-light text-grey no-underline py-2 px-4;

        transition: border-color 0.2s ease, color 0.2s ease;
    }

    a:hover,
    .is-current {
        @apply border-accent text-grey-darker;
    }
}

#instafetch {
    @apply flex flex-row flex-wrap -m-1;

    article {
        @apply flex p-1 w-1/3;

        flex: 1 0 auto;

        a {
            @apply block w-full h-full;
        }

        figure {
            position: relative;

            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@tailwind utilities;