---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>

<article class="post content post-content">
{{ page.content }}
</article>

<h2 class="">Поиск по сайту</h2>

<script async src="https://cse.google.com/cse.js?cx=208a7dbee9bd7646a"></script>
<div class="gcse-search"></div>

<hr class="mt-16 border-t border-light-gray"/>

<h2 class="mt-8">Последние записи в блоге</h2>

<div class="flex flex-row flex-wrap -m-4">
{% for post in site.posts limit:3 %}
{%- include card-related-post.html -%}
{% endfor %}
</div>