<!DOCTYPE html>
<html>

<head>
    {%- include head.html -%}
    {%- include google_tag_head.html -%}
</head>

<body class="flex flex-col min-h-screen">
    {%- include google_tag_body.html -%}
    <header class="header">
        <div class="container flex flex-row justify-between px-4 desktop:px-0">
            <nav class="menu">
                {%- for item in site.menus.header -%}
                <span class="menu-item">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </span>
                {%- endfor -%}
            </nav>

            {% if site.addthis.pub_id %}
            <div class="header-social">
                <div class="addthis_inline_follow_toolbox"></div>
            </div>
            {% endif %}
        </div>
    </header>

    <section id="content" class="flex-1 container px-4 desktop:px-0">
        <div class="mb-12">
            <div class="page-heading">{{ site.title }}</div>
        </div>

        {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}
    </section>

    <footer class="footer">
        <div class="container px-4 desktop:px-0">
            <div class="mb-8">
                <div class="flex flex-row flex-wrap -m-2">
                    <div class="w-full desktop:w-1/3 p-2">
                        <h3 class="mb-4">{{ site.data.t[site.lang].aboutMe }}</h3>

                        {%- include footer-about.html -%}
                    </div>
                    <div class="w-full desktop:w-1/3 p-2">
                        <h3 class="mb-4">{{ site.data.t[site.lang].links }}</h3>

                        {%- include footer-links.html -%}
                    </div>
                    <div class="w-full desktop:w-1/3 p-2">
                        <h3 class="mb-4">{{ site.data.t[site.lang].instagram }}</h3>

                        <div id="instafetch"></div>
                    </div>
                </div>
            </div>

            <div class="copyright text-grey text-center">
                &copy; {{ site.author.name }}
            </div>
        </div>
    </footer>

    <script src="{{ '/assets/main.js' | relative_url }}"></script>
    {%- include addthis.html %}

    {%- if site.instagram.access_token -%}
    {%- include instagram-feed.html -%}
    {%- endif -%}
</body>

</html>