---
layout: default
---
{%- if page.image -%}
<div class="mb-4 mx-auto desktop:max-w-column">
    <img src="{{ page.image }}" alt="{{ page.title }}" class="object-cover h-64 desktop:h-100 w-full rounded-lg" />
</div>
{%- endif -%}

<div class="desktop:max-w-column mx-auto">
    <h1 class="post-title">{{ page.title }}</h1>

    {% include post-meta.html %}

    <article class="post content post-content">
        {{ content }}
    </article>
</div>

<aside class="mx-auto">
    {%- include related-posts.html -%}
</aside>

{%- if site.disqus.shortname -%}
<hr class="my-16 border-t border-light-gray"/>
<div id="disqus_thread"></div>
{%- include disqus-comments.html -%}
{%- endif -%}